matplotlib
scikit-learn
umap-learn==0.5.3
webdataset==0.1.103
numpy==1.21.6
pandas==1.4.1
seaborn==0.11.2
tqdm
hdbscan
autofaiss==2.14.0
faiss-cpu==1.7.2
faiss-gpu==1.7.2
git+https://github.com/cat-state/clip_benchmark